
# STEPS

1. Request data from API
2. Process the data
3. Save data to RDS

In [2]:
import requests
from pyjstat import pyjstat
import pandas as pd
import numpy as np
from collections import OrderedDict

# ENERGY CONSUMPTION

In [3]:
url = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/TEN00123?format=JSON'
response = requests.get(url)
dataset = pyjstat.Dataset.read(response.text)
dataset

Dataset([('version', '2.0'),
         ('class', 'dataset'),
         ('label', 'Final energy consumption by product'),
         ('source', 'ESTAT'),
         ('updated', '2023-04-28T11:00:00+0200'),
         ('value',
          OrderedDict([('1008', 110.9),
                       ('1009', 138.974),
                       ('1010', 77.225),
                       ('1011', 67.005),
                       ('1012', 85.149),
                       ('1013', 94.089),
                       ('1014', 49.941),
                       ('1015', 123.149),
                       ('1016', 239.095),
                       ('1017', 123.502),
                       ('1018', 150.666),
                       ('1019', 227.071),
                       ('804', 364.679),
                       ('805', 340.942),
                       ('806', 344.577),
                       ('807', 345.239),
                       ('808', 340.804),
                       ('809', 352.912),
                       ('810', 360.998),
                       ('811', 328.812),
                       ('812', 310.633),
                       ('813', 308.671),
                       ('814', 343.807),
                       ('815', 318.28),
                       ('964', 270.2),
                       ('965', 281.006),
                       ('966', 274.975),
                       ('967', 264.879),
                       ('968', 278.851),
                       ('969', 204.969),
                       ('970', 233.582),
                       ('971', 286.227),
                       ('576', 491.595),
                       ('577', 457.365),
                       ('578', 451.367),
                       ('579', 532.122),
                       ('580', 492.039),
                       ('581', 508.902),
                       ('582', 489.838),
                       ('583', 475.189),
                       ('584', 487.681),
                       ('585', 473.611),
                       ('586', 388.145),
                       ('587', 420.739),
                       ('588', 410.173),
                       ('589', 444.529),
                       ('590', 410.24),
                       ('591', 364.272),
                       ('592', 317.26),
                       ('593', 331.146),
                       ('594', 334.105),
                       ('595', 371.605),
                       ('596', 355.306),
                       ('597', 312.492),
                       ('598', 292.143),
                       ('599', 393.017),
                       ('720', 16.779),
                       ('721', 7.46),
                       ('722', 0.124),
                       ('723', 0.124),
                       ('724', 2.218),
                       ('725', 3.679),
                       ('726', 0.0),
                       ('727', 2.98),
                       ('728', 13.614),
                       ('729', 17.199),
                       ('730', 14.004),
                       ('731', 40.105),
                       ('600', 1886.748),
                       ('601', 1836.71),
                       ('602', 1899.92),
                       ('603', 1857.198),
                       ('604', 1599.674),
                       ('605', 1574.414),
                       ('606', 1562.511),
                       ('607', 1754.833),
                       ('608', 1655.274),
                       ('609', 1437.206),
                       ('610', 1413.144),
                       ('611', 1430.474),
                       ('624', 4375.215),
                       ('625', 4880.797),
                       ('626', 4341.927),
                       ('627', 4318.156),
                       ('628', 4077.775),
                       ('629', 4749.252),
                       ('630', 4630.137),
                       ('631', 4547.885),
                       ('632', 3758.459),
                       ('633', 3421.122),
                       ('634', 3580.505),
                       ('635', 3413.048),
                       ('612', 137.483),
                       ('613', 145.34),
                       ('614', 115.252),
                       ('615', 130.365),
                       ('616', 126.347),
                       ('617', 117.773),
                       ('618', 121.882),
                       ('619', 131.241),
                       ('620', 133.57),
                       ('621', 108.688),
                       ('622', 112.817),
                       ('623', 132.539),
                       ('636', 37.625),
                       ('637', 44.904),
                       ('638', 40.999),
                       ('639', 39.716),
                       ('640', 47.994),
                       ('641', 16.86),
                       ('642', 17.509),
                       ('643', 21.066),
                       ('644', 26.273),
                       ('645', 29.99),
                       ('646', 7.315),
                       ('647', 2.085),
                       ('660', 301.533),
                       ('661', 216.572),
                       ('662', 227.248),
                       ('663', 212.366),
                       ('664', 232.365),
                       ('665', 224.437),
                       ('666', 198.611),
                       ('667', 195.667),
                       ('668', 281.631),
                       ('669', 198.274),
                       ('670', 167.422),
                       ('671', 183.957),
                       ('672', 527.002),
                       ('673', 813.11),
                       ('674', 524.774),
                       ('675', 456.502),
                       ('676', 444.251),
                       ('677', 432.83),
                       ('678', 407.208),
                       ('679', 484.444),
                       ('680', 478.76),
                       ('681', 373.251),
                       ('682', 343.639),
                       ('683', 345.854),
                       ('540', 27217.029),
                       ('541', 26913.817),
                       ('542', 25964.361),
                       ('543', 24807.941),
                       ('544', 23239.168),
                       ('545', 23503.331),
                       ('546', 23744.106),
                       ('547', 23921.985),
                       ('548', 22633.104),
                       ('549', 19812.592),
                       ('550', 19146.079),
                       ('551', 19036.609),
                       ('876', 221.163),
                       ('877', 211.878),
                       ('878', 105.72),
                       ('879', 106.947),
                       ('880', 106.166),
                       ('881', 111.024),
                       ('882', 139.521),
                       ('883', 136.352),
                       ('884', 128.138),
                       ('885', 121.362),
                       ('886', 105.715),
                       ('887', 117.721),
                       ('684', 1752.221),
                       ('685', 1220.083),
                       ('686', 1331.617),
                       ('687', 1145.033),
                       ('688', 1051.48),
                       ('689', 1111.499),
                       ('690', 1077.938),
                       ('691', 1124.436),
                       ('692', 1159.47),
                       ('693', 950.297),
                       ('694', 837.606),
                       ('695', 969.952),
                       ('1071', 314.392),
                       ('1072', 290.462),
                       ('1073', 271.769),
                       ('1074', 250.28),
                       ('1075', 276.057),
                       ('1076', 293.7),
                       ('1077', 241.024),
                       ('1078', 212.848),
                       ('1079', 224.128),
                       ('696', 150.637),
                       ('697', 144.565),
                       ('698', 129.953),
                       ('699', 115.977),
                       ('700', 102.456),
                       ('701', 81.112),
                       ('702', 67.068),
                       ('703', 76.171),
                       ('704', 68.846),
                       ('705', 82.715),
                       ('706', 104.972),
                       ('707', 108.871),
                       ('768', 237.424),
                       ('769', 261.659),
                       ('770', 228.958),
                       ('771', 184.615),
                       ('772', 161.659),
                       ('773', 175.751),
                       ('774', 200.345),
                       ('775', 289.962),
                       ('776', 226.412),
                       ('777', 184.799),
                       ('778', 156.907),
                       ('779', 123.184),
                       ('648', 353.737),
                       ('649', 309.134),
                       ('650', 322.004),
                       ('651', 326.917),
                       ('652', 324.821),
                       ('653', 339.754),
                       ('654', 349.216),
                       ('655', 280.547),
                       ('656', 297.195),
                       ('657', 245.224),
                       ('658', 247.953),
                       ('659', 240.893),
                       ('900', 90.126),
                       ('901', 90.73),
                       ('902', 92.641),
                       ('903', 97.595),
                       ('904', 86.743),
                       ('905', 93.004),
                       ('906', 0.0),
                       ('907', 0.0),
                       ('908', 0.0),
                       ('909', 0.0),
                       ('910', 0.0),
                       ('911', 0.0),
                       ('708', 623.31),
                       ('709', 990.027),
                       ('710', 953.183),
                       ('711', 704.387),
                       ('712', 739.881),
                       ('713', 539.45),
                       ('714', 688.034),
                       ('715', 489.273),
                       ('716', 623.279),
                       ('717', 595.062),
                       ('718', 409.362),
                       ('719', 302.273),
                       ('744', 178.089),
                       ('745', 207.041),
                       ('746', 197.283),
                       ('747', 224.724),
                       ('748', 194.134),
                       ('749', 157.893),
                       ('750', 157.535),
                       ('751', 161.589),
                       ('752', 171.232),
                       ('753', 167.507),
                       ('754', 133.271),
                       ('755', 158.672),
                       ('756', 65.576),
                       ('757', 59.128),
                       ('758', 54.825),
                       ('759', 52.562),
                       ('760', 52.087),
                       ('761', 49.215),
                       ('762', 50.93),
                       ('763', 47.116),
                       ('764', 41.76),
                       ('765', 45.758),
                       ('766', 38.442),
                       ('767', 42.083),
                       ('732', 93.353),
                       ('733', 97.11),
                       ('734', 77.198),
                       ('735', 58.827),
                       ('736', 53.093),
                       ('737', 42.26),
                       ('738', 35.214),
                       ('739', 36.698),
                       ('740', 41.554),
                       ('741', 35.78),
                       ('742', 21.583),
                       ('743', 15.403),
                       ('984', 112.363),
                       ('985', 117.187),
                       ('986', 106.812),
                       ('987', 138.273),
                       ('988', 90.357),
                       ('989', 95.301),
                       ('990', 69.414),
                       ('991', 99.082),
                       ('992', 81.524),
                       ('993', 101.553),
                       ('994', 77.408),
                       ('995', 91.228),
                       ('972', 10.999),
                       ('973', 6.379),
                       ('974', 8.139),
                       ('975', 5.279),
                       ('976', 7.259),
                       ('977', 11.439),
                       ('978', 12.459),
                       ('979', 9.654),
                       ('980', 6.572),
                       ('981', 7.546),
                       ('982', 6.392),
                       ('983', 8.717),
                       ('996', 112.429),
                       ('997', 154.623),
                       ('998', 145.585),
                       ('999', 123.712),
                       ('1000', 102.446),
                       ('1001', 101.101),
                       ('1002', 128.18),
                       ('1003', 97.979),
                       ('1004', 112.79),
                       ('1005', 127.395),
                       ('1006', 70.5),
                       ('1007', 93.515),
                       ('780', 0.0),
                       ('781', 0.0),
                       ('782', 0.0),
                       ('783', 0.0),
                       ('784', 0.0),
                       ('785', 0.0),
                       ('786', 0.0),
                       ('787', 0.0),
                       ('788', 0.0),
                       ('789', 0.0),
                       ('790', 0.0),
                       ('791', 0.0),
                       ('792', 114.72),
                       ('793', 105.907),
                       ('794', 109.883),
                       ('795', 81.826),
                       ('796', 81.712),
                       ('797', 192.0),
                       ('798', 237.873),
                       ('799', 254.9),
                       ('800', 236.898),
                       ('801', 214.129),
                       ('802', 172.413),
                       ('803', 144.764),
                       ('924', 495.481),
                       ('925', 444.454),
                       ('926', 474.138),
                       ('927', 470.495),
                       ('928', 465.914),
                       ('929', 464.954),
                       ('930', 521.233),
                       ('931', 498.799),
                       ('932', 462.767),
                       ('933', 490.793),
                       ('934', 520.305),
                       ('935', 555.063),
                       ('816', 13163.567),
                       ('817', 12117.433),
                       ('818', 12367.319),
                       ('819', 11914.244),
                       ('820', 11146.265),
                       ('821', 10730.714),
                       ('822', 11095.594),
                       ('823', 11253.919),
                       ('824', 10672.907),
                       ('825', 9002.654),
                       ('826', 8955.367),
                       ('827', 8686.003),
                       ('828', 50.152),
                       ('829', 20.226),
                       ('830', 20.008),
                       ('831', 18.469),
                       ('832', 13.904),
                       ('833', 12.968),
                       ('834', 12.716),
                       ('835', 11.0),
                       ('836', 10.15),
                       ('837', 10.798),
                       ('838', 9.695),
                       ('839', 9.98),
                       ('840', 534.577),
                       ('841', 789.044),
                       ('842', 766.15),
                       ('843', 689.477),
                       ('844', 668.366),
                       ('845', 776.919),
                       ('846', 729.221),
                       ('847', 627.773),
                       ('848', 617.168),
                       ('849', 659.747),
                       ('850', 602.766),
                       ('851', 734.04),
                       ('1020', 784.293),
                       ('1021', 976.689),
                       ('1022', 677.03),
                       ('1023', 505.111),
                       ('1024', 449.229),
                       ('1025', 500.344),
                       ('1026', 635.233),
                       ('1027', 534.002),
                       ('1028', 511.988),
                       ('1029', 422.455),
                       ('1030', 517.684),
                       ('1031', 306.426),
                       ('888', 369.728),
                       ('889', 415.919),
                       ('890', 402.126),
                       ('891', 369.087),
                       ('892', 368.737),
                       ('893', 390.695),
                       ('894', 372.265),
                       ('895', 374.306),
                       ('896', 370.807),
                       ('897', 345.087),
                       ('898', 302.163),
                       ('899', 284.492),
                       ('852', 48.803),
                       ('853', 53.849),
                       ('854', 51.245),
                       ('855', 47.923),
                       ('856', 45.521),
                       ('857', 39.3),
                       ('858', 36.269),
                       ('859', 38.568),
                       ('860', 41.108),
                       ('861', 39.966),
                       ('862', 28.349),
                       ('863', 21.088),
                       ('864', 711.14),
                       ('865', 723.085),
                       ('866', 490.461),
                       ('867', 510.866),
                       ('868', 448.159),
                       ('869', 440.572),
                       ('870', 371.568),
                       ('871', 405.653),
                       ('872', 424.979),
                       ('873', 431.203),
                       ('874', 356.574),
                       ('875', 397.092),
                       ('1032', 14003.596),
                       ('1033', 13105.748),
                       ('1034', 13623.236),
                       ('1035', 10636.487),
                       ('1036', 10759.764),
                       ('1037', 11403.943),
                       ('1038', 11949.203),
                       ('1039', 11793.866),
                       ('1040', 9659.516),
                       ('1041', 10031.284),
                       ('1042', 11466.99),
                       ('1043', 12279.149),
                       ('1044', 4170.699),
                       ('1045', 4962.836),
                       ('1046', 5086.933),
                       ('1047', 5230.78),
                       ('1048', 6063.501),
                       ('1049', 3701.296),
                       ('1050', 3480.367),
                       ('1051', 2871.151),
                       ('1052', 3973.636),
                       ('1053', 3886.622),
                       ('1054', 3700.86),
                       ('948', 2350.576),
                       ('949', 2168.238),
                       ('950', 2210.076),
                       ('951', 2687.953),
                       ('952', 2629.935),
                       ('953', 2296.883),
                       ('954', 2042.868),
                       ('955', 1871.281),
                       ('956', 1704.194),
                       ('957', 1565.081),
                       ('1056', 76.34),
                       ('1057', 82.55),
                       ('1058', 69.688),
                       ('1059', 56.58),
                       ('1060', 61.014),
                       ('1061', 47.825),
                       ('1062', 99.654),
                       ('1063', 87.174),
                       ('1064', 18.092),
                       ('1065', 20.531),
                       ('1066', 27.462),
                       ('1067', 33.604),
                       ('1548', 0.0),
                       ('1549', 0.0),

In [4]:
results = pyjstat.from_json_stat(response.json(object_pairs_hook=OrderedDict))
df =results[0]
df = df.rename(columns={'Geopolitical entity (reporting)': 'Country'})
df

,Time frequency,Energy balance,Standard international energy product classification (SIEC),Unit of measure,Country,Time,value
0,Annual,Final consumption - energy use,Total,Thousand tonnes of oil equivalent,European Union - 27 countries (from 2020),2010,973238.431
1,Annual,Final consumption - energy use,Total,Thousand tonnes of oil equivalent,European Union - 27 countries (from 2020),2011,933799.891
2,Annual,Final consumption - energy use,Total,Thousand tonnes of oil equivalent,European Union - 27 countries (from 2020),2012,933168.989
3,Annual,Final consumption - energy use,Total,Thousand tonnes of oil equivalent,European Union - 27 countries (from 2020),2013,931391.979
4,Annual,Final consumption - energy use,Total,Thousand tonnes of oil equivalent,European Union - 27 countries (from 2020),2014,890023.879
...,...,...,...,...,...,...,...
6475,Annual,Final consumption - energy use,Nuclear heat,Thousand tonnes of oil equivalent,Georgia,2017,NaN
6476,Annual,Final consumption - energy use,Nuclear heat,Thousand tonnes of oil equivalent,Georgia,2018,NaN
6477,Annual,Final consumption - energy use,Nuclear heat,Thousand tonnes of oil equivalent,Georgia,2019,NaN
6478,Annual,Final consumption - energy use,Nuclear heat,Thousand tonnes of oil equivalent,Georgia,2020,NaN
6479,Annual,Final consumption - energy use,Nuclear heat,Thousand tonnes of oil equivalent,Georgia,2021,NaN

In [5]:
df_filtered = df.loc[df['Standard international energy product classification (SIEC)'] == 'Total']
df_filtered = df_filtered.drop(['Time frequency','Energy balance','Unit of measure','Standard international energy product classification (SIEC)'], axis =1)

In [6]:

nrg_con_total = df_filtered.pivot(index='Country' , columns='Time', values ='value')
nrg_con_total = nrg_con_total[~nrg_con_total.index.str.startswith('Euro')]
nrg_con_total = nrg_con_total.fillna(0)
nrg_con_total.head()

Time,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country,,,,,,,,,,,,
Albania,1897.918,1953.468,1790.623,1961.871,2058.574,1962.498,1899.558,2078.928,2134.212,2053.036,1840.668,2012.504
Austria,25961.403,25096.146,25203.967,25800.573,24762.326,25476.389,26099.940,26503.187,26042.688,26222.168,24873.297,26396.623
Belgium,35454.681,32624.012,33058.280,34107.252,31594.248,33155.375,33436.999,32979.018,33204.310,32589.709,30938.054,33181.638
Bosnia and Herzegovina,0.000,0.000,0.000,0.000,3103.624,3316.907,3543.934,3497.933,4211.931,4207.688,4024.489,4305.320
Bulgaria,8699.392,9125.105,9103.369,8680.757,8881.501,9388.553,9517.949,9745.903,9757.670,9719.600,9499.659,10140.235

In [33]:
for i, row in nrg_con_total.iterrows():
    print(i, row['2010'], row['2011'], row['2012'])

Albania 1897.918 1953.468 1790.623
Austria 25961.403 25096.146 25203.967
Belgium 35454.681 32624.012 33058.28
Bosnia and Herzegovina 0.0 0.0 0.0
Bulgaria 8699.392 9125.105 9103.369
Croatia 7129.817 6875.498 6558.631
Cyprus 1645.788 1614.212 1492.799
Czechia 24121.144 23337.059 23326.229
Denmark 14849.916 14116.296 13611.792
Estonia 2878.489 2781.689 2827.225
Finland 25043.343 23726.736 23952.27
France 146258.394 140774.818 145831.896
Georgia 0.0 0.0 0.0
Germany (until 1990 former territory of the FRG) 209923.09 199292.537 202662.536
Greece 18373.799 18185.332 16402.985
Hungary 16879.616 16917.517 16003.531
Iceland 2517.495 2521.164 2600.49
Ireland 11187.012 10361.568 10174.773
Italy 123052.729 117518.026 116559.044
Kosovo (under United Nations Security Council Resolution 1244/99) 1190.842 1266.098 1219.372
Latvia 4002.237 3751.161 3908.282
Liechtenstein 0.0 0.0 0.0
Lithuania 4757.259 4728.244 4838.968
Luxembourg 3895.179 3889.18 3799.238
Malta 401.35 388.461 407.257
Moldova 2268.192 2336.77 2267.918
Montenegro 714.626 719.28 698.97
Netherlands 50767.734 46828.589 47027.156
North Macedonia 1789.926 1903.21 1845.693
Norway 19772.258 19098.503 19324.567
Poland 65257.858 63610.484 63257.875
Portugal 17269.567 16441.254 15111.588
Romania 22038.77 22590.604 22629.168
Serbia 8762.533 9082.112 8412.293
Slovakia 10371.086 9732.586 9198.465
Slovenia 5047.44 5037.235 4909.818
Spain 85500.769 82390.875 79000.274
Sweden 32470.569 32064.667 32311.573
Switzerland 0.0 0.0 0.0
Trkiye 71036.168 76076.088 79158.418
Ukraine 68387.54 69646.492 66404.075
United Kingdom 130080.082 118840.372 122658.595

# POPULATION

In [8]:
url = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/DEMO_PJANGROUP?format=JSON'
population = requests.get(url)
#dataset = pyjstat.Dataset.read(response.text)
results1 = pyjstat.from_json_stat(population.json(object_pairs_hook=OrderedDict))
df1 =results1[0]
df1.head()

,Time frequency,Unit of measure,Sex,Age class,Geopolitical entity (reporting),Time,value
0,Annual,Number,Total,Total,European Union - 27 countries (from 2020),1960,354531754.0
1,Annual,Number,Total,Total,European Union - 27 countries (from 2020),1961,NaN
2,Annual,Number,Total,Total,European Union - 27 countries (from 2020),1962,NaN
3,Annual,Number,Total,Total,European Union - 27 countries (from 2020),1963,NaN
4,Annual,Number,Total,Total,European Union - 27 countries (from 2020),1964,NaN

In [9]:
df1 = df1.rename(columns={'Geopolitical entity (reporting)': 'Country'})
df1_filtered = df1.loc[df1['Sex'] == 'Total']
df1_filtered = df1_filtered.drop(['Time frequency','Unit of measure','Sex','Age class'], axis =1)
df1_filtered = df1_filtered[(df1_filtered['Time'] >= '2010') & (df1_filtered['Time'] <= '2021')]
df1_filtered

                                         Country  Time        value
50     European Union - 27 countries (from 2020)  2010  440660421.0
51     European Union - 27 countries (from 2020)  2011  439942305.0
52     European Union - 27 countries (from 2020)  2012  440552661.0
53     European Union - 27 countries (from 2020)  2013  441257711.0
54     European Union - 27 countries (from 2020)  2014  442883888.0
...                                          ...   ...          ...
84540                                 Azerbaijan  2017          0.0
84541                                 Azerbaijan  2018          0.0
84542                                 Azerbaijan  2019          0.0
84543                                 Azerbaijan  2020          0.0
84544                                 Azerbaijan  2021          0.0

[16104 rows x 3 columns]

In [10]:
pop_total = df1_filtered.pivot_table(index = 'Country', columns ='Time',values = 'value')
pop_total = pop_total[~pop_total.index.str.startswith('Euro')]
pop_total = pop_total.fillna(0)
pop_total.head()

Time,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country,,,,,,,,,,,,
Albania,272722.909091,2.722954e+05,2.721640e+05,271970.454545,271835.772727,271697.454545,271073.409091,271623.727273,271486.954545,271163.318182,270083.136364,268803.727273
Andorra,8053.272727,7.466091e+03,7.466091e+03,7285.636364,0.000000,0.000000,0.000000,0.000000,0.000000,7239.045455,0.000000,0.000000
Armenia,303780.000000,3.262650e+06,3.274285e+06,0.000000,0.000000,284241.045455,283511.136364,282549.954545,281342.318182,280546.136364,279862.318182,279865.727273
Austria,807794.045455,8.105665e+05,8.141785e+05,818587.136364,824298.045455,833266.272727,845478.409091,853677.772727,859029.545455,863416.181818,869443.954545,873252.227273
Azerbaijan,830976.136364,8.421882e+05,8.542381e+05,866076.863636,877891.000000,889086.181818,900123.409091,910067.227273,918261.000000,926004.863636,934000.454545,938497.681818